*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 130vh;
    background-color: rgb(19, 19, 19);
}

header {
    height: 100vh;
    width: 100%;
    background-color: rgb(19, 19, 19);
    position: relative;
    z-index: 10;
}

.logo {
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
}

.content-container {
    height: 100%;
    width: 100%;
    background-image: url('images/texture.jpg');
    background-position: center;
    background-size: contain;
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: 0.1;
    pointer-events: none;
}

.v-line1 {
    border-left: 1px solid gainsboro;
    height: 100%;
    position: absolute;
    left: 33%;
    margin-left: -3px;
    top: 0;
}

.v-line2 {
    border-left: 1px solid gainsboro;
    height: 100%;
    position: absolute;
    left: 66%;
    margin-left: -3px;
    top: 0;
}

.h-line1 {
    border-bottom: 1px solid gainsboro;
    width: 100%;
    position: absolute;
    top: 33%;
}

.h-line2 {
    border-bottom: 1px solid gainsboro;
    width: 100%;
    position: absolute;
    top: 66%;
}

.header-content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex: row;
    justify-content: space-around;
    padding: 0 8%;
}

.words-container {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding: 0 6rem 0 0;
    width: 40%;
}

.motto {
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0.3rem 0;
    padding: 1rem;

    position: relative;
    z-index: 2;
}

.description {
    font-size: 1.2rem;
    padding: 1rem;

    position: relative;
    z-index: 2;
}

.barb-wire {
    padding: 5rem 0;
    position: absolute;
    z-index: 0;
    filter: saturate(1%);
}

.mixes-container {
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-mixes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-mixes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mix-item {
    padding: 1rem;
}

.image {
    opacity: 0.5;
    transition: opacity 0.9s;
}

.image:hover {
    opacity: 1;
}

.img-1 {
    position: relative;
}

.socials {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 38vh;
    right: 0;
    margin: 0 0.5rem;
}

.socials > svg {
    height: 2rem;
    padding: 0.3rem;
    cursor: pointer;
    transition: height 0.9s;
}

svg path {
    fill: gainsboro;
    opacity: 0.5;
    transition: opacity 0.9s;
}

svg:hover path {
    opacity: 1;
}

footer {
    color: #c5ff29;
    font-family: monospace;
    height: 3rem;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(rgba(2, 2, 2, 0.539), rgba(2,2,2,0.539));
    position: fixed;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.info > a {
    color: #c5ff29;
}

.info {
    font-size: 11px;
}

.fa-volume-mute {
    height: 2rem;
    padding: 0.3rem;
    cursor: pointer;
    transition: height 0.9s;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5rem 1rem;
}